:host ::ng-deep {
  z-index: 9;

  .sub-menu {
    z-index: 8;
    width: 275px;
    // visibility: hidden;
    top: 0;
  }

  &:hover {
    li {
      a {
        visibility: visible;
        padding: inherit;
        width: 100%;
        opacity: 1;
      }

      &:hover {
        .sub-menu {
          visibility: visible;
        }
      }
    }
  }
  li {
    .sticky-item {
      div {
        padding: 0;
      }
    }

    a {
      visibility: hidden;
      padding: 0;
      width: 0;
      opacity: 0;
    }
  }
}
